.container {
    h3 {

    }
    .list {
        display: flex;
        display: block;

        .box {
            border: 1px solid rgb(224, 224, 224);
            display: flex;
            padding-top: 5px;

            img {
                display: inline;
                width: 100px;
                height: 100px;
            }
            
            .info {
                display: flex;
                display: inline-block;
                width: 100%;

            
                .name {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 16px;
                    p {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }
                .category {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 16px;
                    p {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }
                .price {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 16px;
                    p {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }
                .tag {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 16px;
          
                    p {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }
                .description {
                    display: block;
                    font-size: 16px;
                    p {
                    font-size: 18px;
                    font-weight: 500;
                    }
                }
            }


            .buttons {
                display: flex;
                display: block;
                justify-items: right;
                margin-right: 0px;
                padding-right: 0px;
                

                .edit {
                    margin-bottom: 10px;
                    background-color: lightgray;
                    border: none;
                    
                    &:hover {
                        color: rgb(35, 91, 175);
                    }
                }
          
    
               .delete {
                    background-color: lightgray;
                    border: none;
                  
                    &:hover {
                        color: rgb(196, 62, 62);
                    }
                }
    
            }
    
        }

    }
}