.products-card {

    .container {


        .card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-right: 100px;
            margin-left: 100px;
            border: none;

            .images {
                grid-template-columns: 1fr;
                
                
                .one {
                    padding-top: 20px;
                    padding-right: 30px;
                }
                .two {
                    padding-top: 20px;
                    padding-right: 30px;
                }
                .three {
                    padding-top: 20px;
                }
         
            }

            .card-body {
                grid-template-columns: 1fr;
                text-align: left;
                padding-top: 0;
 


                .card-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .title-brand {
                    font-size: 0.8rem;
                }
                .card-rating {
                    color: $color-theme;
                }
                .card-price {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .product-info {
                    font-size: 0.8rem;
                    width: 400px;
                    margin-bottom: 25px;

     
                }
                .size {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    h6 {
                        padding-right: 40px;
                    }

                    button {
                        border: 1px solid black;
                        background-color: $color-white;
                        color: $color-dark;
                        margin-right: 10px;
                        width: 33px;
                        height: 33px;
                    }
                }
                .color {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    h6 {
                        padding-right: 40px;
                    }

                    button {
                        border: 1px solid black;
                        background-color: $color-white;
                        color: $color-dark;
                    }
                }
                .quantity {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    h6 {
                        padding-right: 40px;
                    }
                    button {
                        color: $color-white;
                        background-color: $color-theme;
                        border: none;
                        font-size: 0.8rem;
                        font-weight: 500;
                        width: 130px;
                        height: 35px;
                    }
                }

                .share {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    h6 {
                        padding-right: 40px;
                    }

                    a {
                        color: $color-dark;
                        background-color: $color-extralightgray;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        margin-right: 20px;

                        &:hover {
                            color: $color-theme;
                            text-decoration: none;
                        }
                    }
                 
                }

            }

        }

  
    }
}